@model RegApplPortal.WebApps.Models.RestoreModel
@{
    ViewBag.Title = "Восстановить пароль";
    Layout = "~/Views/Shared/_UnauthorizedLayout.cshtml";
}	
@Scripts.Render("~/bundles-js/account")	
<h2>Восстановление доступа</h2>
<h5>Новый пароль будет отправлен на e-mail или телефон.</h5>

@using (Html.BeginForm("RestorePassword", "Account", FormMethod.Post))
{
    <div class="margined row">
        <div class="col-md-8">
            <h5>@Html.DisplayNameFor(m => m.Login)</h5>
            @Html.TextBoxFor(m => m.Login, new { @class = "form-control", required = "required" })
            @Html.ValidationMessageFor(m => m.Login)
        </div>
    </div>
    <div class="margined row">
        <div class="col-md-8">
            @Html.DropDownListFor(model => model.Choice,
                    new List<SelectListItem>()
                        {
                            new SelectListItem() {  Value = "email", Text = "Отправить e-mail", Selected = true } ,
                            new SelectListItem() {  Value = "sms", Text = "Отправить sms" }
                        }, new { @class = "form-control" })
        </div>
    </div>
    <div class="margined row">
        <div class="col-md-8">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Отправить</button>
        </div>
    </div>
}

    @if (ViewBag.Message != null)
    {
        <div class="margined row">
            <div class="col-md-12">
                <div class="alert alert-info" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">@ViewBag.Message</span>
                    @ViewBag.Message
                </div>
            </div>
        </div>
    }

<div class="margined row">
    <div class="col-md-8">
        @Html.ActionLink("Вернуться к входу на портал", "Index")
    </div>
</div>


